.card a{
  text-decoration: none;
}
.card{
  width: 140px;
  height: 200px;
  padding: 10px;
  margin: 20px;
  border-radius: 12px;
  background-color: #808080;
  text-shadow: 4px 4px 6px #000000;
}
.exercises{
  color: #faebd7;  
}
p{
  margin-top: 0;

}
h4{
  margin-bottom: 5px;
}
.card:hover{
  transition: transform .2s;
  transform: scale(1.4);
  border: solid #faebd7;
}